body, table, tr, td {
	background: black;
	color: white;
}
th, td {
    text-align: center;
}
a {
    color: yellow;
    background: black;
}
a:hover {
    color: goldenrod;
    background-color: black;
    text-decoration: none;
}
.header-href {
    color: white;
}
.header-href:hover {
    color: white;
    text-decoration: none;
}
body {
    background-image: url('media/family-tree-fixed.svg');
    background-size: cover;
    background-repeat: no-repeat;
}
.background-black {
	background-color: black;
}
input[type=derp] {
    background: black;
    color: white;
}
div.col {
    background-color: black;
}
